<div class="container">
  <div class="header">
    <div class="header-left">
      <img class="hamburger-icon" (click)="toggleMenu()" src="../assets/images/icon-menu.svg">
      
      <img class="header-logo" src="../assets/images/logo.svg">
      <div class="header-navs">
        <label>Collections</label>
        <label>Men</label>
        <label>Women</label>
        <label>About</label>
        <label>Contact</label>
      </div>

    </div>
    <div class="header-right">
      <span (click)="toggleCart()" class="cart-article-number">{{cartArticleNumber}}</span>
      <img (click)="toggleCart()" class="header-cart" src="../assets/images/icon-cart.svg">
      <img class="header-avatar" src="../assets/images/image-avatar.png">
    </div>
    
  </div>

  <hr>

  <div class="article-container">
    <div class="article-image-container">
      <img class="article-image" src="{{articleImageSrc}}">
      <div class="previews-container">
        <img (click)="changeImage(1)" src="../assets/images/image-product-1.jpg">
        <img (click)="changeImage(2)" src="../assets/images/image-product-2.jpg">
        <img (click)="changeImage(3)" src="../assets/images/image-product-3.jpg">
        <img (click)="changeImage(4)" src="../assets/images/image-product-4.jpg">
      </div>
    </div>

    <div class="article-infos">
      <h3>SNEAKER COMPANY</h3>
      <h1>Fall Limited Edition Sneakers</h1>
      <p>These low-profile sneakers are your perfect casual wear companion. Featuring a 
        durable rubber outer sole, they’ll withstand everything the weather can offer.
      </p>
      <div class="price-container">
        <div class="price-reduction-container">
          <h1>$125.00</h1>
          <span class="price-reduction">50%</span>
        </div>
        <span class="price-previous">$250.00</span>
      </div>

      <div class="actions-container">
        <div class="article-number-container">
          <img (click)="decrement()" class="quantity-icon" src="../assets/images/icon-minus.svg">
          <label class="label-quantity">{{quantity}}</label>
          <img (click)="increment()" class="quantity-icon" src="../assets/images/icon-plus.svg">
        </div>
        <button (click)="addItemToCart()" class="button-add-cart">
          <img class="cart-icon" src="../assets/images/icon-cart-white.svg"> 
          <span>Add To Cart</span>
        </button>
      </div>
    </div>
  </div>
</div>






<div (click)="closeModal()" [ngClass]="{'active': hamburgerIsOpen}" class="overlay"></div>
<div [ngClass]="{'active': hamburgerIsOpen}" class="hamburger-menu">
  <img (click)="toggleMenu()" class="icon-close" src="../assets/images/icon-close.svg">
  <label>Collections</label>
  <label>Men</label>
  <label>Women</label>
  <label>About</label>
  <label>Contact</label>
</div>


<div *ngIf="cartIsOpen" class="cart-popover">
  <h2>Cart</h2>
  <hr>

  
  <div class="cart-content">
    <div style="display: flex; flex-direction: column; gap: 1rem;" *ngIf="cartArticles.length > 0" >
      <div class="cart-article" *ngFor="let article of cartArticles; let index = index">
        <div style="display: flex; flex-direction: row; align-items: center;gap: 1rem;">
          <img class="cart-article-image" src="{{article.imageName}}">
          <div style="display: flex; flex-direction: column;">
            <span>Fall Limited Edition Sneakers</span>
            <span>${{articlePrice}} x {{article.quantity}} : <strong>${{articlePrice*article.quantity}}</strong></span>
          </div>
        </div>
        
      
        <img (click)="deleteArticleFormCart(index)" class="cart-article-delete" src="../assets/images/icon-delete.svg">
        
      </div>
      <button class="button-add-cart">
        <img class="cart-icon" src="../assets/images/icon-cart-white.svg"> 
        <span>Add To Cart</span>
      </button>
    </div>

    <div class="empty-cart" *ngIf="cartArticles.length <= 0" >
      <p>Your cart is empty</p>
    </div>
    
    
  </div>
  
</div>